# Application
NODE_ENV=development
PORT=3030

# Database
DATABASE_URL="mysql://root:@localhost:3306/belajar_typescript_restful_api"

# Logging
LOG_LEVEL=debug

# JWT
JWT_SECRET=your-secret-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# OpenTelemetry Tracing
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=typescript-restful-api
OTEL_SDK_DISABLED=false
